body {
  font-family: var(--font-secondary);
  font-size: var(--font-size-default);
  background-color: var(--color-bg-body);
  background-size: cover;
  color: var(--color-text-primary);
}

/* Links */
a {
  color: var(--color-accent-primary);
  text-decoration: none;
  font-weight: 700;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

/* Textos */
p {
  font-size: var(--font-size-default);
  line-height: 3rem;
}

h1, .h1 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h1);
  font-weight: 900;
  letter-spacing: 0.07rem;
  line-height: 6rem;
  margin: 3rem 0;
  display: block;
}

h2, .h2 {
  font-family: var(--font-primary);
  font-size: var(--font-size-h2);
  font-weight: 900;
  letter-spacing: 0.07rem;
  line-height: 6rem;
  margin: 3rem 0;
  display: block;
}

sup, sub {
  font-size: var(--font-size-small);
}

@media (min-width: 600px) {
  h1, .h1 {
    line-height: 6rem;
  }
}