.JVVZ__main-CTA * {
  box-sizing: border-box;
}

.JVVZ__main-CTA {
  width: 100%;
  padding: 0;
}

.JVVZ__main-CTA .h1, h1 {
  margin: 1rem 0;
}

.JVVZ__main-CTA .wrapper {
  background-image: url("../../images/bg-hero-home.svg");
  background-color: var(--color-600);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7%;
  transition: all 0.2s ease-in;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.JVVZ__main-CTA .card {
  border-radius: 1.6rem;
  background-color: #fff;
  border: none;
  width: 100%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.JVVZ__main-CTA .cta {
  width: 100%;
  padding: 2.4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.JVVZ__main-CTA .cta h1 {
  font-size: 3rem;
  margin: 0;
  line-height: normal;
}

.JVVZ__main-CTA .cta .description {
  font-size: var(--font-size-default);
  margin: 1rem 0;
}

.JVVZ__main-CTA .cta .price {
  font-size: var(--font-size-default);
  display: flex;
  align-items: center;
  justify-content: center;
}

.JVVZ__main-CTA .cta .taxes {
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1rem 0 0 0;
}

.JVVZ__main-CTA .cta .bases {
  color: #7A7485;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 0;
}

.JVVZ__main-CTA .cta .amount {
  font-size: 2.4rem;
  margin-left: 0.8rem;
}

.JVVZ__main-CTA .cta .amount sup {
  font-size: var(--font-size-small);
  margin-left: .2rem;
  position: static;
}

.JVVZ__main-CTA .cta button {
  background-color: #4121B2;
  border: 0;
  border-radius: 3rem;
  padding: 1.6rem 2rem;
  width: 100%;
  margin-top: 1.6rem;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1em;
  cursor: pointer;
}

.JVVZ__main-CTA .img {
  order: -1;
  width: 100%;
  height: 200px;
  background-image: url("../../images/hero-images/hero-main-CTA.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.JVVZ__main-CTA .img img {
  width: 100px;
  position: relative;
  top: 2rem;
  left: 2rem;
}

@media (min-width: 600px) {
.JVVZ__main-CTA .img img {
  width: 160px;
  position: relative;
  top: 2rem;
  left: 2rem;
}
}

/* Medium devices */
@media (min-width: 513px) {
  .JVVZ__main-CTA .wrapper {
    padding: 10%;
  }

  .JVVZ__main-CTA .card {
    max-height: 100%;
  }

  .JVVZ__main-CTA .cta h1 {
    font-size: 2.5em;
  }

  .JVVZ__main-CTA .cta .amount {
    font-size: 2em;
  }

  .JVVZ__main-CTA .cta button {
    font-size: 1.1em;
    width: auto;
    padding: 16px 48px;
  }

  .JVVZ__main-CTA .img {
    height: 300px;
  }
}

/* Large devices */
@media (min-width: 881px) {
  .JVVZ__main-CTA .card {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }

  .JVVZ__main-CTA .cta {
    width: 60%;
    height: 100%;
    padding: 32px;
  }

  .JVVZ__main-CTA .cta h1 {
    font-size: 3.5em;
  }

  .JVVZ__main-CTA .cta .description {
    font-size: 1.25em;
  }

  .JVVZ__main-CTA .img {
    order: 0;
    width: 41%;
    height: auto;
  }
}

/* Short-height screens */
@media (max-height: 764px) {
  .JVVZ__main-CTA .wrapper {
    height: 100%;
  }

  .JVVZ__main-CTA .card {
    max-height: 100%;
    height: 640px;
  }
}