.switch {
  position: relative;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
}

.switch-light,
.switch-dark {
  font-size: var(--font-size-large);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  opacity: 1;
}

.switch-light.hidden,
.switch-dark.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  pointer-events: none;
}