.JVVZ__rotating-link {
  background-color: lime;
  position: absolute;
  bottom: 15%;
  right: 2%;
  z-index: 999;
}

.JVVZ__rotating-link .link__logo {
  transform-origin: center;
  transition: transform 0.4s ease, filter 0.4s ease;
  cursor: pointer;
}

.JVVZ__rotating-link .link__logo:hover {
  transform: scale(0.9) rotate(-1deg) translate(-64, -64);
  filter: drop-shadow(0 0 4px rgb(31, 31, 31));
}

.JVVZ__rotating-link .link {
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 1.4rem;
  font-family: 'Inter', sans-serif;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1175em;
  word-spacing: 0.3em;
  text-decoration: none;
}

.JVVZ__rotating-link .link__svg {
  width: 100%;
  height: auto;
  transform-box: fill-box;
  fill: #1e1e1e;
  stroke: #1e1e1e;
  stroke-width: 0.05em;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.JVVZ__rotating-link .link__badge {
  transform-origin: 50% 50%;
  -webkit-animation: rotate normal infinite 60s linear;
  animation: rotate normal infinite 60s linear;
  fill: rgb(181, 181, 181);
}

.JVVZ__rotating-link .link__text {
  -webkit-animation: rotateReverse normal infinite 20s linear;
  animation: rotateReverse normal infinite 20s linear;
  transform-origin: 50% 50%;
}

.JVVZ__rotating-link .link:hover .link__text {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.JVVZ__rotating-link .link--alt {
  font-size: 1.11rem;
  letter-spacing: 0;
  word-spacing: 0;
}

@-webkit-keyframes rotate {
  to {
      transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateReverse {
  to {
      transform: rotate(-360deg);
  }
}

@keyframes rotateReverse {
  to {
      transform: rotate(-360deg);
  }
}